.gallery {
  width: 100%;
  background: #1210107e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.card{
  content: "";
  height: 500px;
  width: 20%;
  margin: 5px;
  border-radius: 10px;

  background:url("assets\Raster\Gallery\photography.png");
  background-size: cover;
  background-position: center;

  transform: skewX(-10deg);
  
  position: relative;
  transition: width 0.5s;
  outline: gray solid 0px;
  overflow: hidden;
  transform-origin: top left;
}


.card:nth-child(2){
  content: "";
  height: 500px;
  width: 20%;
  margin: 5px;
  border-radius: 10px;

  background:url("assets\Raster\Gallery\awards.png");
  background-size: cover;
  background-position: center;

  transform: skewX(-10deg);
  
  position: relative;
  transition: width 0.5s;
  outline: gray solid 0px;
  overflow: hidden;
  transform-origin: top left;
}
.card:nth-child(3){
  content: "";
  height: 500px;
  width: 20%;
  margin: 5px;
  border-radius: 10px;

  background:url("assets\Raster\Gallery\stream.png");
  background-size: cover;
  background-position: center;

  transform: skewX(-10deg);
  
  position: relative;
  transition: width 0.5s;
  outline: gray solid 0px;
  overflow: hidden;
  transform-origin: top left;
}

.card:nth-child(4){
  content: "";
  height: 500px;
  width: 20%;
  margin: 5px;
  border-radius: 10px;

  background:url("assets\Raster\Gallery\apparel.png");
  background-size: cover;
  background-position: center;

  transform: skewX(-10deg);
  
  position: relative;
  transition: width 0.5s;
  outline: gray solid 0px;
  overflow: hidden;
  transform-origin: top left;
}

.card:nth-child(5){
  content: "";
  height: 500px;
  width: 20%;
  margin: 5px;
  border-radius: 10px;

  background:url("assets\Raster\Gallery\info.png");
  background-size: cover;
  background-position: center;

  transform: skewX(-10deg);
  
  position: relative;
  transition: width 0.5s;
  outline: gray solid 0px;
  overflow: hidden;
  transform-origin: top left;
}

.card:nth-child(6){
  content: "";
  height: 500px;
  width: 20%;
  margin: 5px;
  border-radius: 10px;

  background:url("assets\Raster\Gallery\volunteer.png");
  background-size: cover;
  background-position: center;

  transform: skewX(-10deg);
  
  position: relative;
  transition: width 0.5s;
  outline: gray solid 0px;
  overflow: hidden;
  transform-origin: top left;
}

.card h3{
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  font-size: 200%;
  font-weight: 200;
  letter-spacing: 4px;
  text-align: center;
  bottom: 50%;
  left: 0%;
  opacity: 0;
  transition: left 0.5s, opacity 0.4s;
}

.card:hover {
  width: 70%;
  cursor: pointer;
  outline: #ff6464 solid 3px
}

.card:hover h3{
  width: 50%;
  opacity: 1;
  left:25%;
}
