@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Recursive:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Orbitron;
  src: url('Orbitron-Bold.ttf');
}

.red-text-shadow {
  text-shadow: 1px 0px 0px #e24652;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-rink-gradient {
  background: linear-gradient(
    157.81deg,
    #fc0e0e -43.27%,
    #fb3a35 -21.24%,
    #f93249 12.19%,
    #f82b56 29.82%,
    #f62566 51.94%,
    #f31d76 90.29%
  );
}

/* source: https://www.youtube.com/watch?v=yu0Cm4BqQv0 
https://www.joshwcomeau.com/gradient-generator/*/

@keyframes background-pan {
  from {
    backgrond-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.bg-rink-text {
  animation: background-pan 1.5s linear infinite;
  background: linear-gradient(
    135deg,
    hsl(0deg 100% 55%) 0%,
    hsl(358deg 100% 56%) 4%,
    hsl(356deg 100% 57%) 8%,
    hsl(355deg 100% 57%) 12%,
    hsl(353deg 100% 58%) 16%,
    hsl(351deg 100% 58%) 20%,
    hsl(349deg 100% 59%) 24%,
    hsl(347deg 100% 60%) 28%,
    hsl(345deg 100% 60%) 33%,
    hsl(344deg 100% 61%) 38%,
    hsl(342deg 100% 61%) 43%,
    hsl(340deg 100% 62%) 49%,
    hsl(342deg 100% 61%) 58%,
    hsl(344deg 100% 60%) 66%,
    hsl(345deg 100% 59%) 71%,
    hsl(347deg 100% 58%) 75%,
    hsl(349deg 100% 57%) 79%,
    hsl(351deg 100% 55%) 83%,
    hsl(353deg 100% 54%) 87%,
    hsl(355deg 100% 53%) 90%,
    hsl(356deg 100% 52%) 93%,
    hsl(358deg 100% 51%) 97%,
    hsl(0deg 100% 50%) 100%
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.bg-red-text {
  background: #e20000d2;
  background-size: 200%;
  white-space: nowrap;
}


.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #202020 -278.56%,
    #202020 -78.47%,
    #202020 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}
.bg-white {
  background: linear-gradient(
    153.47deg,
    rgb(255, 255, 255) -341.94%,
    #ffffff 95.11%
  );
}


.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
